[Unit]
Description=DeepOniond Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/DeepOniond && /usr/bin/do-proxy
Restart=on-abort

[Install]
WantedBy=multi-user.target